Repository DINFO-UniFI/RoofClassify, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - any: ['requirements.txt', 'requirements/*.txt']

documentation:
  - docs/**/*
  - .readthedocs.yml

Fix branch name
  .github/workflows/docs_builder.yml
Labels: ci-cd

Update README.md
  README.md
Labels: none

Add log module
  roof_classify/toolbelt/__init__.py
  roof_classify/toolbelt/log_handler.py
  roof_classify/toolbelt/preferences.py
Labels: none

Use log module and Fix nonexistent functions #8
  roof_classify/roof_classify.py
  roof_classify/toolbelt/log_handler.py
Labels: none

Fix icon path
  roof_classify/roof_classify.py
Labels: none

Use plugin title for translator
  roof_classify/roof_classify.py
Labels: none

Replace print by log
  roof_classify/roof_classify.py
Labels: none

Add VSC settings
  .vscode/settings.json
Labels: none

Bump imports to be py3 compliant
  roof_classify/roof_classify.py
Labels: none

Clean up transtion
  roof_classify/resources/i18n/af.ts
  roof_classify/resources/i18n/plugin_translation.pro
Labels: none

Add embedded dependencies
  .gitignore
  docs/development/environment.md
  requirements/development.txt
  requirements/embedded.txt
Labels: documentation

Embed dependencies during CI
  .github/workflows/packager.yml
  .github/workflows/release.yml
  .github/workflows/tester.yml
Labels: ci-cd

Fix GUI imports and move into a subfolder
  roof_classify/gui/__init__.py
  roof_classify/gui/roof_classify_dialog.py
  roof_classify/gui/roof_classify_dialog_base.ui
  roof_classify/resources.py
  roof_classify/roof_classify.py
Labels: none

Add conditionnal import
  roof_classify/roof_classify.py
Labels: none

Revert "Add conditionnal import"
  roof_classify/roof_classify.py
Labels: none

merge
  hop.txt
  roof_classify/roof_classify.py
Labels: none

Add joblib
  requirements/embedded.txt
Labels: none

Delete temp file
  hop.txt
Labels: none

Use site
  roof_classify/roof_classify.py
Labels: none

clean up
  README.md
  roof_classify/roof_classify.py
Labels: none

Apply pre-commit hooks
  .vscode/settings.json
  docs/conf.py
  roof_classify/gui/roof_classify_dialog.py
  roof_classify/roof_classify.py
  roof_classify/toolbelt/preferences.py
Labels: documentation

Unignore embedded to try packager
  .gitignore
Labels: none

Writing rasterize functions
  roof_classify/roof_classify.py
Labels: none

Importing qgis packages
  roof_classify/roof_classify.py
Labels: none

Fix missing comma
  roof_classify/roof_classify.py
Labels: none

Delete rows and cols
  roof_classify/roof_classify.py
Labels: none

Completing labellingRoofingLayer(.) function
  roof_classify/roof_classify.py
Labels: none

Use labellingRoofingRaster(.) in run(.) function
  roof_classify/roof_classify.py
Labels: none

Delete unused functions
  roof_classify/roof_classify.py
Labels: none

Add a definition of 'classes' variable
  roof_classify/roof_classify.py
Labels: none

Add write2Geotiff(.) function
  roof_classify/roof_classify.py
Labels: none

Add metadata to saving image
  roof_classify/roof_classify.py
Labels: none

Correct writeGeotiff(.) function
  roof_classify/roof_classify.py
Labels: none

Add a function that runs gdal:merge operation
  roof_classify/roof_classify.py
Labels: none

Call writeGeotiff(.) and mergeRasterLayers(.) in run(.) function
  roof_classify/roof_classify.py
Labels: none

Delete unused import or variables
  roof_classify/roof_classify.py
Labels: none

Delete local function write_geotiff(.)
  roof_classify/roof_classify.py
Labels: none

Use python3 instead of python
  .github/workflows/tester.yml
Labels: ci-cd

Fix getNumberofClases(.): create a list from generator
  roof_classify/roof_classify.py
Labels: none

Fix writeGeotiff(.): delete read only option in the raster to convert
  roof_classify/roof_classify.py
Labels: none
