Repository DINFO-UniFI/RoofClassify, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - any: ['requirements.txt', 'requirements/*.txt']

documentation:
  - docs/**/*
  - .readthedocs.yml

Use settings for classifier
  roof_classify/logic/classification.py
Labels: none

Enable new issue forms
  .github/ISSUE_TEMPLATE/10_bug_report.yml
  .github/ISSUE_TEMPLATE/15_feature_request.yml
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: ci-cd

Typo
  .github/ISSUE_TEMPLATE/10_bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: ci-cd

Rm options factory in unload
  roof_classify/roof_classify.py
Labels: none

Test also when embedded dep change
  .github/workflows/tester.yml
Labels: ci-cd

Fix image and install guide
  docs/index.md
  docs/static/gui_form_classification.png
  docs/usage/installation.md
Labels: documentation

Improve tests organization
  docs/development/testing.md
  tests/qgis/__init__.py
  tests/qgis/test_plg_preferences.py
  tests/unit/__init__.py
  tests/unit/test_plg_metadata.py
Labels: documentation

Add French translation
  roof_classify/resources/i18n/roof_classify_fr.qm
  roof_classify/resources/i18n/roof_classify_fr.ts
Labels: none

Add how to manage translations
  docs/development/translation.md
  docs/index.md
Labels: documentation

Bump qgis-plugin-ci
  requirements/packaging.txt
Labels: none

WIP packaging
  .github/workflows/packager.yml
Labels: ci-cd

job dependency
  .github/workflows/packager.yml
Labels: ci-cd

Use lupdate instead of python wrapper
  .github/workflows/packager.yml
Labels: ci-cd

Build dps on windows
  .github/workflows/packager.yml
Labels: ci-cd

Filter out python
  .github/workflows/packager.yml
Labels: ci-cd

Debug list
  .github/workflows/packager.yml
Labels: ci-cd

Alleviate the artefact
  .github/workflows/packager.yml
Labels: ci-cd

use bash on windows
  .github/workflows/packager.yml
Labels: ci-cd

Specify download place
  .github/workflows/packager.yml
Labels: ci-cd

Include windows dependencies
  .github/workflows/packager.yml
Labels: ci-cd

Bump deps
  requirements/embedded.txt
Labels: none

Use Python 3.9
  .github/workflows/docs_builder.yml
  .github/workflows/linter.yml
  .github/workflows/packager.yml
  .github/workflows/release.yml
  .github/workflows/tester.yml
Labels: ci-cd

Translating into English some QFileDialog headers
  roof_classify/roof_classify.py
Labels: none

Fix zip cmd
  .github/workflows/packager.yml
Labels: ci-cd

Write csv file
  roof_classify/logic/classification.py
  roof_classify/roof_classify.py
Labels: none

Improve VS Code settings
  .vscode/settings.json
Labels: none

Add docstring + use context manager
  roof_classify/logic/classification.py
Labels: none

Limit max QGIS version
  roof_classify/metadata.txt
Labels: none

Use latest log handleer version (with qwidget)
  roof_classify/toolbelt/log_handler.py
Labels: none

Add details about how to install and manage dependencies
  docs/usage/installation.md
Labels: documentation

Update installation.md
  docs/usage/installation.md
Labels: documentation

Update installation.md
  docs/usage/installation.md
Labels: documentation

Warn user about dependencies and disable action
  roof_classify/roof_classify.py
Labels: none

Try amend gitignore to include embedded deps with qgis-plugin-ci
  .github/workflows/packager.yml
Labels: ci-cd

Achieve packaging and releasing workflows
  .github/workflows/packager.yml
  .github/workflows/release.yml
Labels: ci-cd

Complete version description
  CHANGELOG.md
Labels: none

Rename plugin folder from roof_classify into RoofClassify
  .github/workflows/docs_builder.yml
  .github/workflows/linter.yml
  .github/workflows/packager.yml
  .github/workflows/release.yml
  .github/workflows/tester.yml
  .gitignore
  CHANGELOG.md
  RoofClassify/__about__.py
  RoofClassify/__init__.py
  RoofClassify/gui/__init__.py
  RoofClassify/gui/dlg_settings.py
  RoofClassify/gui/dlg_settings.ui
  RoofClassify/gui/roof_classify_dialog.py
  RoofClassify/gui/roof_classify_dialog_base.ui
  RoofClassify/logic/__init__.py
  RoofClassify/logic/classification.py
  RoofClassify/metadata.txt
  RoofClassify/plugin_main.py
  RoofClassify/resources/i18n/plugin_translation.pro
  RoofClassify/resources/i18n/roof_classify_fr.qm
  RoofClassify/resources/i18n/roof_classify_fr.ts
  RoofClassify/resources/images/icon.png
  RoofClassify/toolbelt/__init__.py
  RoofClassify/toolbelt/log_handler.py
  RoofClassify/toolbelt/preferences.py
  docs/conf.py
  docs/development/environment.md
  docs/development/translation.md
  requirements/embedded.txt
  setup.cfg
  tests/qgis/test_plg_preferences.py
  tests/unit/test_plg_metadata.py
Labels: ci-cd, documentation

Rename i18n files
  RoofClassify/resources/i18n/RoofClassify_fr.qm
  RoofClassify/resources/i18n/RoofClassify_fr.ts
  RoofClassify/resources/i18n/plugin_translation.pro
Labels: none

Bump to version 1.0.0-beta2
  CHANGELOG.md
  RoofClassify/metadata.txt
Labels: none

Fix sphinx conf
  docs/conf.py
Labels: documentation
