Repository DINFO-UniFI/RoofClassify, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - any: ['requirements.txt', 'requirements/*.txt']

documentation:
  - docs/**/*
  - .readthedocs.yml

Add git hook to remove tabs before commiting
  .pre-commit-config.yaml
Labels: none

Fix log message duration=0
  RoofClassify/toolbelt/log_handler.py
Labels: none

fix minor type warn
  docs/conf.py
Labels: documentation

Enforce missing deps warning
  RoofClassify/plugin_main.py
Labels: none

Make release a conditonal job of package workflow
  .github/workflows/packager.yml
  .github/workflows/release.yml
Labels: ci-cd

Fix job dependencies
  .github/workflows/packager.yml
Labels: ci-cd

Minor changes
  .github/workflows/packager.yml
  .gitignore
Labels: ci-cd

Bump version to 1.0.0-beta3
  CHANGELOG.md
  RoofClassify/metadata.txt
Labels: none

Auto remove compiled python files from gitignore
  .github/workflows/packager.yml
Labels: ci-cd

Bump version to 1.0.0-beta4
  CHANGELOG.md
  RoofClassify/metadata.txt
Labels: none

Add credits page
  docs/index.md
  docs/misc/credits.md
Labels: documentation

Remove autodoc dependencies and code from doc
  docs/conf.py
  requirements/documentation.txt
Labels: documentation

Improve install and packaging doc
  docs/development/documentation.md
  docs/development/packaging.md
  docs/usage/installation.md
Labels: documentation

Reduce doc size
  .github/workflows/docs_builder.yml
Labels: ci-cd

Add credits section
  RoofClassify/gui/dlg_settings.ui
Labels: none

Add menu link to settings
  RoofClassify/plugin_main.py
Labels: none

Update i18n
  RoofClassify/resources/i18n/RoofClassify_fr.qm
  RoofClassify/resources/i18n/RoofClassify_fr.ts
Labels: none

Fix and update translations
  RoofClassify/resources/i18n/RoofClassify_fr.qm
  RoofClassify/resources/i18n/RoofClassify_fr.ts
  RoofClassify/resources/i18n/plugin_translation.pro
Labels: none

Add lhyperkin to credit page
  RoofClassify/gui/dlg_settings.py
Labels: none

Add menu for settings
  RoofClassify/plugin_main.py
Labels: none

Bump to beta5
  RoofClassify/metadata.txt
Labels: none

fix local load
  RoofClassify/plugin_main.py
Labels: none

Bump version to 1.0.0
  CHANGELOG.md
  RoofClassify/metadata.txt
Labels: none

Remove test folder
  .github/workflows/packager.yml
Labels: ci-cd

Fix i18n packaging
  .github/workflows/packager.yml
  .gitignore
  RoofClassify/resources/i18n/RoofClassify_fr.qm
Labels: ci-cd

Use python cache
  .github/workflows/docs_builder.yml
  .github/workflows/linter.yml
Labels: ci-cd

Fix qt5 install
  .github/workflows/docs_builder.yml
  .github/workflows/linter.yml
  .github/workflows/packager.yml
Labels: ci-cd

Replace by new debian packages
  .github/workflows/packager.yml
Labels: ci-cd

Add missing qttools5-dev-tools
  .github/workflows/packager.yml
Labels: ci-cd

Only qttools5-dev-tools
  .github/workflows/packager.yml
  docs/development/translation.md
Labels: ci-cd, documentation

Add missing qt5-qmake
  .github/workflows/packager.yml
Labels: ci-cd

Update embedded.txt
  requirements/embedded.txt
Labels: none

Update testing.txt
  requirements/testing.txt
Labels: none

Update documentation.txt
  requirements/documentation.txt
Labels: none

Update metadata.txt
  RoofClassify/metadata.txt
Labels: none
