Repository DINFO-UniFI/RoofClassify, pull requests merged in 2021-07, with the labels that each got.

#18 Rasterize with pyqgis
  .github/workflows/tester.yml
  roof_classify/roof_classify.py
Labels: ci-cd

#22 Tests: disable former tests (which were fake)
  .vscode/extensions.json
  .vscode/settings.json
  roof_classify/__about__.py
  tests/qgis_interface.py
  tests/test_init.py
  tests/test_qgis_environment.py
  tests/test_resources.py
  tests/test_roof_classify_dialog.py
  tests/test_translations.py
  tests/utilities.py
Labels: enhancement

#21 Relocate into functions
  roof_classify/logic/__init__.py
  roof_classify/logic/classification.py
  roof_classify/roof_classify.py
Labels: python
