Repository DINFO-UniFI/RoofClassify, pull requests merged in 2022-01, with the labels that each got.

#46 Documentation: installation guide
  .github/workflows/tester.yml
  docs/index.md
  docs/static/gui_form_classification.png
  docs/usage/installation.md
Labels: documentation, ci-cd

#47 Test agains settings form
  docs/development/testing.md
  tests/qgis/__init__.py
  tests/qgis/test_plg_preferences.py
  tests/unit/__init__.py
  tests/unit/test_plg_metadata.py
Labels: documentation

#48 Features: i18n
  docs/development/translation.md
  docs/index.md
  requirements/packaging.txt
  roof_classify/resources/i18n/roof_classify_fr.qm
  roof_classify/resources/i18n/roof_classify_fr.ts
Labels: documentation

#50 Link class label to roof layers
  roof_classify/logic/classification.py
  roof_classify/roof_classify.py
Labels: enhancement

#49 CI: packaging for Windows
  .github/workflows/docs_builder.yml
  .github/workflows/linter.yml
  .github/workflows/packager.yml
  .github/workflows/release.yml
  .github/workflows/tester.yml
  .vscode/settings.json
  docs/usage/installation.md
  requirements/embedded.txt
  roof_classify/metadata.txt
  roof_classify/roof_classify.py
  roof_classify/toolbelt/log_handler.py
Labels: documentation, enhancement, ci-cd

#52 Rename plugin folder from roof_classify into RoofClassify
  .github/workflows/docs_builder.yml
  .github/workflows/linter.yml
  .github/workflows/packager.yml
  .github/workflows/release.yml
  .github/workflows/tester.yml
  .gitignore
  CHANGELOG.md
  RoofClassify/__about__.py
  RoofClassify/__init__.py
  RoofClassify/gui/__init__.py
  RoofClassify/gui/dlg_settings.py
  RoofClassify/gui/dlg_settings.ui
  RoofClassify/gui/roof_classify_dialog.py
  RoofClassify/gui/roof_classify_dialog_base.ui
  RoofClassify/logic/__init__.py
  RoofClassify/logic/classification.py
  RoofClassify/metadata.txt
  RoofClassify/plugin_main.py
  RoofClassify/resources/i18n/RoofClassify_fr.qm
  RoofClassify/resources/i18n/RoofClassify_fr.ts
  RoofClassify/resources/i18n/plugin_translation.pro
  RoofClassify/resources/images/icon.png
  RoofClassify/toolbelt/__init__.py
  RoofClassify/toolbelt/log_handler.py
  RoofClassify/toolbelt/preferences.py
  docs/conf.py
  docs/development/environment.md
  docs/development/translation.md
  requirements/embedded.txt
  setup.cfg
  tests/qgis/test_plg_preferences.py
  tests/unit/test_plg_metadata.py
Labels: bug, documentation, ci-cd

#56 Make release a conditonal job of package workflow
  .github/workflows/packager.yml
  .github/workflows/release.yml
  .gitignore
Labels: ci-cd

#57 Include pyd files into packaged plugin
  .github/workflows/packager.yml
Labels: ci-cd
